<a href="https://colab.research.google.com/github/qqqqqq78910/Computational-Thinking-and-Programming-Design/blob/master/week7_A108260005%E5%91%A8%E8%97%9D%E6%BD%BE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
s1="123"
s2="456"

s3 = s1 + s2 
print(s3)
s4 = s1 * 2 
print(s4)
#多行
s5 = '春眠不覺曉,處處聞啼鳥。\n\
夜來風雨聲,花落知多少。\n\
\t作者"孟浩然" 詩名"春曉"'
print(s5)

123456
123123
春眠不覺曉,處處聞啼鳥。
夜來風雨聲,花落知多少。
	作者"孟浩然" 詩名"春曉"

In [8]:
s = '123456789'
print(s[0]) 
print(s[1])
print(s[-1]) 
print(s[-2])

s = '0123456789'
print('s=', s)
print('s[0]=', s[0])
print('s[1]=', s[1])
print('s[-1]=', s[-1])
print('s[-2]=', s[-2])

1
2
9
8
s= 0123456789
s[0]= 0
s[1]= 1
s[-1]= 9
s[-2]= 8

In [9]:
print('s=', s, 's[:]=', s[:]) 
print('s=', s, 's[5:]=', s[5:]) 
print('s=', s, 's[-2:]=', s[-2:])
print('s=', s, 's[:5]=', s[:5]) 
print('s=', s, 's[:-2]=', s[:-2])
print('s=', s, 's[7:9]=', s[7:9])
print('s=', s, 's[-4:-1]=', s[-4:-1])
print('s=', s, 's[5:-2]=', s[5:-2])
print('s=', s, 's[2:10:2]=', s[2:10:2])
print('s=', s, 's[::-1]=', s[::-1])
print('s=', s, 's[-1::-1]=', s[-1::-1])

s= 0123456789 s[:]= 0123456789
s= 0123456789 s[5:]= 56789
s= 0123456789 s[-2:]= 89
s= 0123456789 s[:5]= 01234
s= 0123456789 s[:-2]= 01234567
s= 0123456789 s[7:9]= 78
s= 0123456789 s[-4:-1]= 678
s= 0123456789 s[5:-2]= 567
s= 0123456789 s[2:10:2]= 2468
s= 0123456789 s[::-1]= 9876543210
s= 0123456789 s[-1::-1]= 9876543210

In [10]:
s1='An apple a day'
print(s1.capitalize())
print(s1.title())
print(s1.swapcase)
print(s1.upper())
print(s1.lower())

An apple a day
An Apple A Day
<built-in method swapcase of str object at 0x7f5edc67aaf0>
AN APPLE A DAY
an apple a day

In [11]:
t1 = ()
print(t1)
t2 = 1, 2 ,3 
print(t2)
t3 = (1, 2, 3)
print(t3)
list1=[1,2,3,4] 
t4 = tuple(list1) 
print(t4)
t4 = (1,2,3,4) 
t5 = (t4,5,6)
print(t5)
t6 = ('z', )
print(t6)

()
(1, 2, 3)
(1, 2, 3)
(1, 2, 3, 4)
((1, 2, 3, 4), 5, 6)
('z',)

In [12]:
t3 = (1, 2, 3)
print(t3[0]) 
t4 = (1,2,3,4)
t5 = (t4,5,6)
print(len(t5))
print(t5[0][0])

1
3
1

In [13]:
t3 = (1, 2, 3)
a, b, c = t3
print('a =', a, ',b =', b, ',c =', c)

a = 10
b = 20
print('交換前','a =', a, ',b =', b)
a, b = b, a
print('交換後','a =', a, ',b =', b)

a = 1 ,b = 2 ,c = 3
交換前 a = 10 ,b = 20
交換後 a = 20 ,b = 10

In [14]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
print('購物清單shoplist為')
print(shoplist)
listm = [1, 2.0, 'Python']
print("串列可以包含各種資料型別的元素")
print(listm)
list1 = list('python')
print(list1) #用list()建立串列
tuple2 = ('a', 'b', 1, 2)
list2 = list(tuple2) 
print(list2)

購物清單shoplist為
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
串列可以包含各種資料型別的元素
[1, 2.0, 'Python']
['p', 'y', 't', 'h', 'o', 'n']
['a', 'b', 1, 2]

In [15]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
print('購物清單shoplist的長度為', len(shoplist))
shoplist1 = ['牛奶', '蛋', '咖啡豆']
shoplist2 = ['西瓜', '鳳梨']
shoplist_all = shoplist1 + shoplist2 
print(shoplist_all)

購物清單shoplist的長度為 5
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']