<a href="https://colab.research.google.com/github/qqqqqq78910/Computational-Thinking-and-Programming-Design/blob/master/week14_A108260005%E5%91%A8%E8%97%9D%E6%BD%BE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
answer = "b246"

while True:
    password = input("Enter your password ")
    if password == answer:
        print("ENTER THE SYSTEM")
        break
    else:
        print("Try again")

Enter your password 123
Try again
Enter your password b246
ENTER THE SYSTEM

In [7]:
answer = "b123"

while True:
  account = input("Enter your account?")
  password = input("Enter your password?")
  if account == answer:
      print("ENTER THE SYSTEM")
      break
  else:
      print("Try Again")

Enter your account?b123
Enter your password?b123
ENTER THE SYSTEM

In [5]:
 password = "a123456"
times = 0

while times <= 3:
    answer = input("Enter Your Password:")
    if answer == password:
        print("ENTER THE SYSTEM")
        break
    else:
        time = times+1
        chance=3-times
        print("password is wrong!and",chance,"second chances")

Enter Your Password:a123456
ENTER THE SYSTEM

In [8]:
for i in range(5):
    print(i)

for i in range(2,5):
    print(i)

for i in range(2,10,3):
    print(i)

0
1
2
3
4
2
3
4
2
5
8

In [9]:
range(5)

range(2,5)

range(2,10,3)

range(2, 10, 3)

In [12]:
start = int(input("enter a number"))
end = int(input("enter a number"))
step = int(input("enter a number"))

sum = 0 

for i in range(start, end, step):
    sum = sum + i
    print("i is", i,"sum equals", sum)

enter a number3
enter a number13
enter a number3
i is 3 sum equals 3
i is 6 sum equals 9
i is 9 sum equals 18
i is 12 sum equals 30